.settings
.hgignore
.hgtags
.hg
org.notima.bankgiro.idempiere/.project
org.notima.bankgiro.idempiere/target
org.notima.bankgiro.idempiere.ui.swing/.project
org.notima.bankgiro.idempiere.ui.swing/target
/bin/
